.main-nav {
    margin: 0 auto;
    max-width: 1560px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 14px;
    
        @media (min-width: 768px){
            padding-top: 21px;
        }

        @media (min-width: 1728px) {
            padding-top: 77px;
        }
    }

    &__list {
        @include clear-list;

        display: none;

        &--showed {
            display: block;
        }

        @media (min-width: 768px){
            display: flex;
        }
    }

    &__item {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #000000;
        padding-right: 25px;
        
        @media (min-width: 1728px) {
            font-size: 24px;
            line-height: 37px;
            padding-right: 36px;
        }

        &:last-child {
            padding: 0;
        }
    }


    &__logo {  
        margin-right: 120px;
    
        @media (min-width: 768px) {
            margin-right: 140px;
        }

        @media (min-width: 1728px) {
            margin-right: 363px;
        }

        img {
            width: 74px;
            height: 24px;
            
            @media (min-width: 768px) { 
                    width: 93px;
                    height: 31px;
            }    
        }
    }

    &__icons {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (min-width: 768px) {
            width: 115px;
        }
    }

    &__search {
        img {
            width: 17px;
            height: 16px;
           
            @media (min-width: 768px) {
                 width: 29px;
                height: 27px;
            }
        }
    }

    &__shop {
        img {
            width: 19px;
            height: 16px;
            
            @media (min-width: 768px) {
                width: 32px;
                height: 26px;
            }
        }
    }

    &__burger {
        @include clear-button;

        margin-left: auto;

        @media (min-width: 768px){
            display: none;
        }
        
        img {
            width: 16px;
            height: 11px;
        }
    }

    &__close {
        @include clear-button; 

        margin-left: auto;
        display: none;

        &--showed {
            display: block;
        }

        img {
            width: 12px;
            height: 12px;
        }
    }
}
