.feedback {
    &__title {
        font-size: 45px;
        font-weight: 500;
        line-height: 62.15px;
        text-align: center;
        color: #000000;

        &::before,
        &::after {
        content: "";
        display: inline-block;
        width: 41px;
        height: 3px;
        background-color: #000;
        vertical-align: middle;
        transform: translateY(-2px);
        }

        &::before {
        margin-right: 18px;
        }

        &::after {
        margin-left: 18px;
        } 
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;
        
        @media (min-width: 1728px) {
            display: flex;
            gap: 68px;
            
        }
        
    }

    &__item {  
        margin: auto;
        border: 2px solid #DEDEDE;
        border-radius: 25px;
        background-color: #F3F3F3;
        padding-left: 25px;
        position: relative;
        width: 100%;

        @media (min-width: 768px) {
            display: flex;
            width: 728px;
            padding-left: 69px;
        }   
    }
    
    &__image {
        width: 54px;
        height: 75px;
        margin-left: auto;
        margin-top: 25px;

        @media (min-width: 768px) { 
            width: 132px;
            height: 180px;
            margin-right: 58px;
            margin-top: 78px;
            margin-bottom: 78px;
            margin-left: 0;
        }
    }

    &__name {
        display: block;
        font-size: 28px;
        font-weight: 500;
        line-height: 38px;
        color: #000000;
        position: absolute;
        top: 20px;
        left: 109px;
        
        
        @media (min-width: 768px) {   
            left: 36%;
            top: 100px;
            margin-bottom: 23px;
        }
    }

    &__stars {
        background-image: url('../img/star.svg');
        background-repeat: repeat-x;
        width: 88px;
        height: 19px;
        position: absolute;
        top: 22%;
        left: 109px;

        @media (min-width: 768px) {   
            left: 36%;
            top: 135px;
            margin-bottom: 8px;
        }

        &--cut {
            width: 68px;
        }
    }
    

    &__description {
        display: block;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-transform: capitalize;
        color: #000000BF;
        padding-top: 20px;
        padding-bottom: 25px;
        padding-right: 25px;
        width: 100%;
        
        @media (min-width: 768px) {   
            width: 411px;
            padding-top: 162px;
        }
    }
}